h1 {
  text-align: center;
}

#title {
  margin-top: 5%;
}

.container {
  margin-bottom: 5%;
  margin-top: 5%;
}

.well {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  /* border: solid; */
  /* border-color: gray; */
  padding: 2%;
}

/* img {
  border: solid;
  border-color: gray;
} */

.jumbotron {
  margin-top: 5%;
}

/* //hero// */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/category.jpg);
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body, html {
    height: 100%;
    /* background-color: #fffcf9; */
  }

 .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  padding: 15px;

}

/* TOP NAV Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: lightgray;
}
footer {
  background-color: #1f1f1f;
  color: white;
}
