/* //hero// */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/location.jpg);
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body, html {
    height: 100%;
    /* background-color: #fffcf9; */
  }

 .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.jumbotron {
  padding: 20px;
  /* margin-top: -30px; */
}
.addressInfo {
  text-align: center;
  margin-top: 10px;
}

/* .btn {
  margin-left: -20px;
} */

img {
  height: 250px;
}

/* h5 {
  font-size: 1.5em;
}

p{
  font-size: 1em;
} */
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  padding: 15px;

}

/* TOP NAV Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: lightgray;
}
footer {
  background-color: #1f1f1f;
  color: white;
}
