/* top banner hero thing */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hangingbasket.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* general styling */
.jumbotron {
  opacity: .7;
  color: black;
  padding: 2%;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

body, html {
  height: 100%;
}

.mini-gallery {
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2.5%;
}

.categories {
  margin-top: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2.5%;
}

#r1, #r2, #r3 {
  display: none;
}

.location{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: .9;
}

.card {
  opacity: .8;
}

a:link, a:visited {
  color: black;
}

a.foot:link, a.foot:visited {
  color: black;
}
/* flexbox stuff */
.flex-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 30px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  padding: 15px;

}

/* TOP NAV Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: lightgray;
}
/* end of dropdown */
